# --- 1. Python & Mac System Files ---
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.pkl
src/__pycache__/
tests/__pycache__/
.pytest_cache/

# --- 2. Virtual Environments ---
env/
venv/
.venv/
.conda/

# --- 3. Jupyter Notebooks ---
.ipynb_checkpoints/

# --- 4. Project Data  ---
data/
*.json
*.csv
*.parquet
*.jsonl
*.gz
checkpoints/

# --- 5. Model ---
models/
wandb/
notebooks/wandb/
notebooks/tmp_trainer/
results/
runs/
*.bin
*.pt
*.pth

# --- 6. IDE Settings ---
.vscode/
.idea/

# --- 7. Streamlit ---

.streamlit/

.devcontainer/
.env